<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WebHookUrl" value="https://hooks.slack.com/services/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"/>
		<add key="UserName" value="SSM - Send Slack Message"/>
		<add key="IconUrl" value=""/>
		<add key="Channel" value="messages"/>
	</appSettings>
</configuration>